@media (min-width: 768px) {
  #contactsection {
    width: 80%;
    height: 68vh;
    margin: 3rem auto;
    background-color: #0F4C75;
  }
  #contactsection #contactform {
    width: 40%;
    margin: 0 auto;
    padding: 5rem 0;
  }
  #contactsection #contactform h1 {
    color: #BBE1FA;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 4rem;
  }
  #contactsection #contactform #contactgrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #contactsection #contactform #contactgrid #colone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #contactsection #contactform #contactgrid #colone input {
    padding: 1rem 2rem;
    background-color: #DDDDDD;
    border: none;
    outline: none;
    margin-bottom: 2rem;
  }
  #contactsection #contactform #contactgrid #colone button {
    background-color: #BBE1FA;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    font-weight: 700;
    color: #707070;
    cursor: pointer;
  }
  #contactsection #contactform #contactgrid #colone ::-webkit-input-placeholder {
    font-weight: 700;
    color: #707070;
  }
  #contactsection #contactform #contactgrid #colone :-ms-input-placeholder {
    font-weight: 700;
    color: #707070;
  }
  #contactsection #contactform #contactgrid #colone ::-ms-input-placeholder {
    font-weight: 700;
    color: #707070;
  }
  #contactsection #contactform #contactgrid #colone ::placeholder {
    font-weight: 700;
    color: #707070;
  }
  #contactsection #contactform #contactgrid #coltwo {
    margin-left: 1rem;
  }
  #contactsection #contactform #contactgrid #coltwo textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background-color: #DDDDDD;
    resize: none;
    border: none;
    outline: none;
    padding: 1rem;
    font-weight: 700;
    color: #707070;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  #contactsection {
    width: 80%;
    margin: 3rem auto;
    background-color: #0F4C75;
  }
  #contactsection #contactform {
    width: 80%;
    margin: 0 auto;
    padding: 5rem 0;
  }
  #contactsection #contactform h1 {
    color: #BBE1FA;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 4rem;
  }
  #contactsection #contactform #contactgrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #contactsection #contactform #contactgrid #colone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #contactsection #contactform #contactgrid #colone input {
    padding: 1rem 2rem;
    background-color: #DDDDDD;
    border: none;
    outline: none;
    margin-bottom: 2rem;
  }
  #contactsection #contactform #contactgrid #colone button {
    background-color: #BBE1FA;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    font-weight: 700;
    color: #707070;
    cursor: pointer;
    position: relative;
    top: 203px;
  }
  #contactsection #contactform #contactgrid #colone ::-webkit-input-placeholder {
    font-weight: 700;
    color: #707070;
  }
  #contactsection #contactform #contactgrid #colone :-ms-input-placeholder {
    font-weight: 700;
    color: #707070;
  }
  #contactsection #contactform #contactgrid #colone ::-ms-input-placeholder {
    font-weight: 700;
    color: #707070;
  }
  #contactsection #contactform #contactgrid #colone ::placeholder {
    font-weight: 700;
    color: #707070;
  }
  #contactsection #contactform #contactgrid #coltwo {
    width: 100%;
    margin-top: -3rem;
  }
  #contactsection #contactform #contactgrid #coltwo textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    background-color: #DDDDDD;
    resize: none;
    border: none;
    outline: none;
    padding: 1rem;
    font-weight: 700;
    color: #707070;
    font-size: 1rem;
  }
}
/*# sourceMappingURL=kontakt.css.map */