* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
//Om biografen
//Hele siden er indelt i et gridsystem med én kolonne og fem rækker
//Den første række er ren overskrift
//Anden række er første sektion og har også sit eget gridsystem
#aboutmain {
    display: grid;
    grid-template-rows: 550px 650px 500px 500px 130px;
    grid-template-columns: 100%;
    background-color: #1B262C;
}
#aboutmain #footer {
    grid-column-start: 1;
    grid-row-start: 5;
}
#abouthead {
    grid-row-start: 1;
    grid-column-start: 1;
    justify-self: center;
    align-self: center;
    width: 100%;
}

.slides {
    display: none;
}
.overlay {
    color: #BBE1FA;
    font-size: 100px;
    font-weight: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.aboutpara p {
    margin-left: 6%;
    line-height: 130%;
    margin-bottom: 25px;
    }
//Gridsystemet i første sektion har to kolonner og syv rækker
//Den første og sidste række er tom, og de er der primært for at skabe plads
//Gridsystemet bruges til at indele teksten i afsnit, og placere billedet
#aboutone {
    grid-row-start: 2;
    grid-column-start: 1;
    background-color: #0F4C75;
    color: #ffffff;
    font-size: 18px;
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-rows: 15% 20% 10% 15% 15% 15% 10%;
    column-gap: 6%;
}
#modal {
    text-align: center;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 8;
    justify-self: center;
    align-self: center;
}
#modal img {
    display: relative;
    width: 100%;
    height: 75%;
}
#aboutone h2 {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-left: 4%;
    align-self: end;
}
#pone {
    grid-column-start: 1;
    grid-row-start: 3;
    justify-self: start;
    margin-left: 4%;
}
#ptwo {
    grid-column-start: 1;
    grid-row-start: 4;
    justify-self: start;
    margin-left: 4%;

}
#pthree {
    grid-column-start: 1;
    grid-row-start: 5;
    justify-self: start;
    margin-left: 4%;

}
#aboutfront {
    width: 100%;
    height: 550px;

}
//Tredje sektion har også sit eget gridsystem,
//men ligesom det overordnede grid, har det kun én kolonne
//Ligesom gridsystemet i første sektion, er den første og sidste række i dette system også tom
#aboutthree {
    grid-row-start: 4;
    grid-column-start: 1;
    background-color: #0F4C75;
    color: #ffffff;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 30% 10% 5.5% 5.5% 10% 10%;
}

#senp {
    grid-column-start: 1;
    grid-row-start: 3;
}
#firp {
    grid-column-start: 1;
    grid-row-start: 4;
}
#secp {
    grid-column-start: 1;
    grid-row-start: 5;
}
#thip {
    grid-column-start: 1;
    grid-row-start: 6;
}
#midp {
    grid-column-start: 1;
    grid-row-start: 7;
}

.aboutpara h2 {
    color: #BBE1FA;
    font-size: 80px;
    font-weight: normal;
    margin-left: 6%;
    line-height: 150%;
}
#aboutthree h2 {
    grid-column-start: 1;
    grid-row-start: 2;
    align-self: end;
}
#abouttwo {
    grid-column-start: 1;
    grid-row-start: 3;
    color: #ffffff;
    font-size: 18px;
    align-self: center;
}
#abouttwo p {
    max-width: 65%;
}
//Media query om bio
@media only screen and (max-width: 768px) {
    #aboutmain {
        display: grid;
        grid-template-rows: 515px 800px 407px 400px;
    }
    #aboutfront {
        width: 100%;
        height: 40%;
    }

    #aboutone {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 10% 10% 10% 60%;
        overflow: hidden;

    }
    #modal {
        grid-column-start: 1;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    #pone {
        grid-row-start: 2;
        margin-left: 6%;
        margin-right: 6%;
    }
    #ptwo {
        grid-row-start: 3;
        margin-left: 6%;
        margin-right: 6%;


    }
    #pthree {
        grid-row-start: 4;
        margin-left: 6%;
        margin-right: 6%;


    }
    #aboutone h2 {
        grid-row-start: 1;
        margin-left: 6%;

    }
    .aboutpara h2 {
        font-size: 60px;
        font-weight: normal;
        margin-left: 6%;
        line-height: 150%;
    }
    #aboutthree {
        display: grid;
        grid-template-rows: 25% 15% 10% 10% 20% 20%;
    }
    #aboutthree h2 {
        grid-row-start: 1;
        line-height: 100%;
        margin-bottom: 20px;
    }
    #senp {
        grid-row-start: 2;
    }
    #firp {
        grid-row-start: 3;
    }
    #secp {
        grid-row-start: 4;
    }
    #thip {
        grid-row-start: 5;
    }
    #midp {
        grid-row-start: 6;
    }
}

//Kontakt
.contactmain {
    background-color: #1B262C;
    width: 100%;
    height: 100vh;

}
#contactsection {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contactform{
    height: 65vh;
    width: 75%;
    background-color: #0F4C75;
}
.contactmain #footer {
    height: 130px;
    justify-content: end;
}
.contact {
    background-color: #DDDDDD;
    border: 3px solid #DDDDDD;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #707070;
}
#contactgrid {
    width: 100%;
    height: 100%;
display: grid;
grid-template-columns: 10% 40% 40% 10%;
grid-template-rows: 30% 50% 20%;
align-items: end;
}
.contactInput {
    height: 37px;
    width: 250px;
    margin-bottom: 37px;
}
#contactButton {
    background-color: #BBE1FA;
    width: 250px;
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    color: #707070;
    cursor: pointer;
}
#colone {
    width: 60%;
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: end;
    margin-bottom: 5px;
}
#coltwo {
    grid-column-start: 3;
    grid-row-start: 2;

}
#contactDescribe {
    resize: none;
}
.contactmain form h1 {
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: end;
    align-self: center;
    margin-right: 20px;
    font-size: 60px;
    color: #BBE1FA;
    font-weight: normal;
}

//media query kontakt
@media only screen and (max-width: 768px) {
    
    #contactsection {
        height: 150vh;
    }
    #contactform {
        height: 110vh;
        width: 90%;
    }
    .contactmain #footer {
        height: 500px;
    }
    #contactgrid {
        grid-template-columns: 100%;
        grid-template-rows: 20% 35% 35%;  
    }
        #contactform h1 {
            margin: 0;
            grid-column-start: 1;
            grid-row-start: 1;
            align-self: center;
            justify-self: center;
        }
    #colone {
        width: 35%;
        margin: 0;
        grid-column-start: 1;
        grid-row-start: 3;
        justify-self: center;
    }
    #coltwo {
        margin: 0;
        grid-column-start: 1;
        grid-row-start: 2;
        justify-self: center;
    }
    #contactDescribe {
        margin: 0;
    }

}
