* {
    margin: 0;
    padding: 0;
}

//Om biografen
#aboutmain {
    display: grid;
    grid-template-rows: 515px 607px 407px 508px 980px;
    grid-template-columns: 5% 90% 5%;
}
#abouthead {
    grid-row-start: 1;
    grid-column-start: 2;
    background-color: #1B262C;
    color: #BBE1FA;
    font-size: 100px;
    justify-self: center;
    align-self: center;
}

#aboutone {
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: #0F4C75;
    color: #ffffff;
    font-size: 18px;
}
#abouttwo {
    grid-row-start: 3;
    grid-column-start: 2;
    background-color: #1B262C;
    color: #ffffff;
    font-size: 18px;
}
#aboutthree {
    grid-row-start: 4;
    grid-column-start: 2;
    background-color: #0F4C75;
    color: #291212;
    font-size: 18px;
}
.aboutpara h2 {
    color: #BBE1FA;
    font-size: 80px;
}
.aboutpara p {
max-width: 70%;
}
#aboutfront {
    max-width: 20%;
    display: inline-block;
}