body {
  background-color: #1B262C;
}

body main {
  width: 100%;
  height: 100vh;
}

body main #hero {
  width: 100%;
  padding: 0.1rem;
}

body main #footer {
  background-color: #393E46;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body main #footer article {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main #footer article span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

body main #footer article ul, body main #footer article a, body main #footer article p {
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

body main #footer article img {
  width: 30%;
}

@media (max-width: 768px) {
  body main {
    width: 100%;
    height: 100vh;
  }
  body main #footer {
    width: 100%;
    background-color: #393E46;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  body main #footer article {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main #footer article span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 2rem;
  }
  body main #footer article ul, body main #footer article a, body main #footer article p {
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: 1rem;
  }
  body main #footer article img {
    width: 30%;
  }
}

body * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body #header {
  width: 100%;
  background-color: #0F4C75;
  -webkit-box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}

body #header img {
  width: 40%;
}

body #header article {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #header article footer #animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

body #header article footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 3;
}

body #header article footer #menu {
  list-style-type: none;
  position: absolute;
  top: 10%;
  right: 10%;
  display: none;
  -webkit-transform: rotateX(20deg) rotateY(20deg);
          transform: rotateX(20deg) rotateY(20deg);
  z-index: 4;
}

body #header article footer #menu > li:hover {
  border-bottom: 2px solid white;
}

body #header article footer #menu .newUl {
  position: relative;
}

body #header article footer #menu .newUl:hover > ul {
  opacity: 1;
  -webkit-transition: opacity .5 ease-in-out;
  transition: opacity .5 ease-in-out;
}

body #header article footer #menu .newUl ul {
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-110%, -50%);
          transform: translate(-110%, -50%);
  opacity: 0;
  -webkit-transition: opacity .5 ease-in-out;
  transition: opacity .5 ease-in-out;
}

body #header article footer #menu .newUl ul a {
  font-size: 2rem;
}

body #header article footer #menu .newUl ul a:hover {
  font-size: 3rem;
}

body #header article footer a {
  text-decoration: none;
  font-size: 5rem;
  margin: 2rem 0;
  color: white;
}

body #header article footer a:hover {
  font-size: 6rem;
}

body .display {
  display: none;
}

body .active {
  display: block;
}

body ion-icon {
  font-size: 2rem;
  color: white;
}

@media (max-width: 768px) {
  body #header {
    width: 100%;
    background-color:#0F4C75 ;
    -webkit-box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  }
  body #header article {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
  }
  body #header article footer {
    width: 100%;
    overflow: hidden;
  }
  body #header article footer #animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 300%;
  }
  body #header article footer span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
    z-index: 1;
  }
  body #header article footer #menu {
    list-style-type: none;
    position: absolute;
    top: 10%;
    right: 10%;
    display: none;
    -webkit-transform: rotateX(25deg) rotateY(20deg);
            transform: rotateX(25deg) rotateY(20deg);
  }
  body #header article footer #menu > li:hover {
    border-bottom: 2px solid white;
  }
  body #header article footer #menu .newUl {
    position: relative;
  }
  body #header article footer #menu .newUl:hover > ul {
    display: block;
    -webkit-transition: opacity .5 ease-in-out;
    transition: opacity .5 ease-in-out;
  }
  body #header article footer #menu .newUl ul {
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(-110%, -50%);
            transform: translate(-110%, -50%);
    display: none;
    -webkit-transition: opacity .5 ease-in-out;
    transition: opacity .5 ease-in-out;
  }
  body #header article footer #menu .newUl ul a {
    font-size: 1rem;
  }
  body #header article footer #menu .newUl ul a:hover {
    font-size: 2rem;
  }
  body #header article footer a {
    text-decoration: none;
    font-size: 3rem;
    margin: 2rem 0;
    color: white;
  }
  body #header article footer a:hover {
    font-size: 4rem;
  }
  body .display {
    display: none;
  }
  body .active {
    display: block;
  }
  body ion-icon {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=navFooter.css.map */